<app-base-layout (authSuccess)="authSuccess($event)">
  <div class="container main">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [class.active]="isActive(0)">
          <a class="page-link" (click)="selectCat(0)">All</a>
        </li>
        <ng-container *ngFor="let category of categories; let i = index">
          <li class="page-item" [class.active]="isActive(category.id)">
            <a class="page-link cat-group" (click)="selectCat(category.id)">{{
              category.title
            }}</a>
          </li>
        </ng-container>
      </ul>
    </nav>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Destription</th>
          <th scope="col">Category</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ note.title }}</td>
          <td>{{ note.description }}</td>
          <td>{{ note.category.title }}</td>
          <td>
            <a [routerLink]="['/dashboard/notes', note.id]">Edit</a>
          </td>
          <td class="delete-btn" (click)="deleteNote(note.id)">Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-base-layout>
