<app-base-layout (authSuccess)="authSuccess($event)">
  <div class="container main">
    <form [formGroup]="form">
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Title</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            placeholder="title"
            formControlName="title"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Description</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            placeholder="description"
            formControlName="description"
          />
        </div>
      </div>
      <div class="form-group row" formGroupName="category">
        <label
          for="colFormLabelSm"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Category</label
        >
        <div class="col-sm-10">
          <select class="form-control form-control-sm" formControlName="id">
            <option value="0">None</option>
            <option
              *ngFor="let category of categories; let i = index"
              value="{{ category.id }}"
              >{{ category.title }}</option
            >
          </select>
          <!-- <input
              type="text"
              class="form-control form-control-sm"
              id="colFormLabelSm"
              placeholder="col-form-label-sm"
              formControlName="id"
            /> -->
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2" (click)="submit()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</app-base-layout>
