<app-base-layout (authSuccess)="authSuccess($event)">
  <div class="container main">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ category.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-base-layout>
