<app-base-layout (authSuccess)="authSuccess($event)">
  <div class="container main">
    <form [formGroup]="form">
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Username</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            placeholder="username"
            formControlName="username"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Email</label
        >
        <div class="col-sm-10">
          <input
            type="Email"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            placeholder="email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="form-group row">
        <label
          for="colFormLabelSm"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            placeholder="password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2" (click)="submit()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</app-base-layout>
